<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Inici</a></li>
        <li><a href="{{ '/projectes' | relative_url }}">Projectes</a></li>
        <li><a href="{{ '/recursos' | relative_url }}">Recursos</a></li>
        <li><a href="{{ '/sobre' | relative_url }}">Sobre mi</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2025 Gerard Callereus</p>
  </footer>
</body>
</html>
